* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

.label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.button {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: none;
    background-color: #1774FE;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
}
.button:active {
    box-shadow: none;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}